<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malignant Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="malignant">
    <h1 class="malignant-title">⚠️ Alert! ⚠️</h1>
    <p class="malignant-message">
        The prediction indicates the tumor is <strong>malignant</strong>.
        Please consult a medical professional for further evaluation.<br><br>
        Model Accuracy: 96.491%
    </p>
    <button onclick="location.href='/'" class="btn-home" >Back to Home</button>
</body>
</html>
